Source: cutefish-wallpapers
Section: x11
Priority: optional
Maintainer: CutefishOS <support@cutefishos.com>
Build-Depends: cmake,
               debhelper (>= 13),
               extra-cmake-modules
Standards-Version: 4.6.2
Homepage: https://cutefishos.com

Package: cutefish-wallpapers
Architecture: all
Depends: ${misc:Depends}
Description: CutefishOS Wallpapers
 Collection of default wallpapers for CutefishOS desktop environment.
